:root {
  --white: #fff;
  --white-text: #fff;
  --grey-light: #edeeef;
  --grey-light-text: #6f768d;
  --grey-medium: #c8c8ce;
  --grey-medium-text: #797c92;
  --grey-dark: #0f111c;
  --grey-dark-text: #232731;
  --black: #0e0f19;
  --black-text: #000;
}

body {
  font-family: Heebo, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: var(--grey-light-text);
}

main {
  overflow: visible;
  display: flex;
  flex-direction: column;
  background: var(--white);
}

code,
pre {
  font-family: 'Roboto Mono', Inconsolata, Monaco, Consolas, 'Courier New',
    Courier, monospace;
  font-weight: 400;
  text-align: left;
  color: var(--grey-dark-text);
  direction: ltr;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
}

h1,
h2,
h3,
h4 {
  color: var(--black-text);
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}
