:root {
  --grey-light-text: #808595;
  --grey-dark: #1d1f21;
  --black-text: #000;

  --ll-grey-light: #edeeef;
  --ll-grey-dark: #1d1e22;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  color: var(--grey-light-text);
}

h1,
h2,
h3,
h4 {
  color: var(--black-text);
}

h4 {
  font-size: 1.1em;
}
